footer{
    background: var(--color-bg-variant);
    padding: 2rem; 
    text-align: center;
    margin-top: 5rem;
}

footer a {
    color: var(--color-white);
    font-size: 20px;
    background: transparent;
    border-radius: 15%;
    padding: 2rem;
}

footer a:hover {
    background: rgba(0,0,0,0.4);
}