footer{
    background: var(--color-bg-variant);
    padding: 2rem; 
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5rem;
    color: var(--color-bg);

}

footer a {
    color: var(--color-white);
    font-size: 20px;
}


